:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
  font-weight: 500 800;
  font-style: normal;
}


.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: var(--Gray-500); }

body{
    background-color: var(--Yellow);
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*Card container*/
.container{
    width: 24.25rem;
    height: auto;
    padding: 1.5rem;
    background-color: var(--White);
    border-radius: 1.25rem;
    border: 0.0625rem solid var(--Gray-950);
    box-shadow: 0.5rem 0.5rem 0 var(--Gray-950);
    margin-block-end: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/*Text content*/
.content{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/*Article image*/
.articleImage{
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
}

/*Category Learning*/
.category{
    display: inline-block;
    background-color: var(--Yellow);
    color: var(--Gray-950);
    font-family: Figtree, sans-serif;
    font-size: clamp(0.75rem, 0.693rem + 0.244vw, 0.875rem);
    font-weight: 800;
    border: none;   
    padding: 0.25rem 0.75rem;
    border-radius: 0.3125rem;
    width: fit-content;
}

/*published date*/
.date{
    font-family: Figtree, sans-serif;
    font-size: clamp(0.75rem, 0.693rem + 0.244vw, 0.875rem);
    color: var(--Gray-500);
}

/*Article title*/
.articleTitle{
    font-family: Figtree, sans-serif;
    font-size: clamp(1.25rem, 1.193rem + 0.244vw, 1.5rem);
    font-weight: 800;
    color: var(--Gray-950);
}

.articleTitle:hover{
    color: var(--Yellow);
    cursor: pointer;
}

/*Article description*/
.container p{
    font-family: Figtree, sans-serif;
    font-size: clamp(0.875rem, 0.775rem + 0.417vw, 1rem);
    color: var(--Gray-500);
}

/*Author section*/
.author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/*Author avatar*/
.authorAvatar{
    width: 2rem;
    height: 2rem;
    display: block;
}

/*Author name*/
.authorName{
    font-family: Figtree, sans-serif;
    font-size: 0.875rem;
    color: var(--Gray-950);
    line-height: 1;
    font-weight: 800;
}

/*Media query for mobile devices*/
@media (max-width: 23.4375rem) {
    .container{
        width: 20rem;
        height: auto;
    }

    .articleImage{
        width: 100%;
        height: auto;
    }
}





